<html>
<head>
<title>
Apache ACL
</title>
</head>
<body>
<form name="apache_acl" id="apache" action="result.html" method="post">
添加新公司<input type="text" name="new_company" id="new_com"><br \>
<hr><br \>
添加IP地址<br \>
公司<select name="select_company" id="select_com"><br \>
<option style="width500px" value="test">测试</option>
</select>
IP<input type="text" name="add_ip">
<hr><br \>
删除IP地址<br \>
IP<input type="text" name="del_ip">
<hr><br \>
<input type="submit" value="提交">

</form>
</body>


</html>
