table {
border-bottom-style: outset;
border-bottom-width: 1px;
border-right-style: outset;
border-right-width: 1px;
border-spacing: 0px;
border-top-style: outset;
border-top-width: 1px;
display: table;
text-indent: 0px;
width: 710px;
}
